body{
    text-align: center;
    margin: 0px;
    padding: 0;
}
.row{
    margin-bottom: 15px;
    text-align: center;

}
.row> div{
    border:2px solid rgb(75, 5, 187);
    background-color: gray;

    margin: 8px;
 
   
    
}
.row h3{
   
    color: beige;
    
}